<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名 -->
<mapper namespace="ddd">

    <sql id="base_column">
        id, car_num, brand, guide_price, produce_time, car_type
    </sql>

    <insert id="insertCar">
        insert into
            learn_mybatis.t_car(car_num, brand, guide_price, produce_time, car_type)
        values (#{carNum}, #{brand}, #{guidePrice}, #{produceTime}, #{carType});
    </insert>

    <select id="getById" resultType="com.batis.model.Car">
        select
            <include refid="base_column"/>
        from
            learn_mybatis.t_car
        where id = #{id}
    </select>

</mapper>